#!foreach fork
#!foreach version
run_pkgversion \
    master=@@master@@ \
    masterpfx=@@masterpfx@@ \
    originpfx=@@originpfx@@ \
    pkg_name=@@pkg_name@@ \
    pfx=@@pfx@@ \
    versionlocked=@@versionlocked@@ \
    ver=@@ver@@ \
    kcfg=@@kcfg@@
#!end-foreach
#!end-foreach
