# Using container-based infrastructure
sudo: false

# 'bash' will define a generic environment without interfering environment
# settings like "CC=gcc"
language: bash

# Only build the master branch
branches:
    only:
        - master

# Caching the downloaded src packages between several builds to save travis-ci
# download time and bandwidth
cache:
    directories:
        - $HOME/src

# Installing needed dependencies
addons:
    apt:
        packages:
            - bison
            - flex
            - gperf
            - libncurses5-dev
            - texinfo
            - help2man

# Building crosstool-NG core
install:
    - ./bootstrap
    - ./configure --enable-local
    - make

# Here is the list of all the standard samples tracked
# by the continuous integration system
env:
    - CT_SAMPLE=arm-unknown-eabi
    - CT_SAMPLE=arm-unknown-linux-gnueabi
    - CT_SAMPLE=armeb-unknown-linux-gnueabi
    - CT_SAMPLE=arm-unknown-linux-musleabi
    - CT_SAMPLE=mips64el-n64-linux-uclibc
    - CT_SAMPLE=powerpc-e500v2-linux-gnuspe
    - CT_SAMPLE=x86_64-unknown-linux-uclibc
    - CT_SAMPLE=xtensa-unknown-linux-uclibc

# Building the standard samples
script:
    - . ./.travis.sh      # Load the travis environment
    - ct-ng $CT_SAMPLE    # Configure the build
    - ct-ng_travis_build  # Build the sample

# On failure displaying the last lines of the log file
after_failure:
    - tail -n 1000 build.log
