---
yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  truthy:
    allowed-values: ['TRUE', 'True', 'true', 'FALSE', 'False', 'false', 'YES', 'Yes', 'yes', 'NO', 'No', 'no', 'ON', 'On', 'on', 'OFF', 'Off', 'off']
